<h2 mat-dialog-title>Process Incident</h2>

<mat-dialog-content class="process-io-designer-dialog">
  <form class="form">
    <div [formGroup]="form">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Incident Message</mat-label>
        <input matInput type="text" formControlName="message">
        <mat-error senergyError label="Incident Message"></mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!formValid()" (click)="ok()">Save</button>
  </mat-dialog-actions>
  