.form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-field {

}

.form-filed-checkbox {
    margin-left: 5px;
}

.form-field-area {

}

.form-filed-area-checkbox {
    margin-left: 5px;
}
