<mat-spinner *ngIf="!ready" [diameter]="50" [strokeWidth]="5" color="accent"></mat-spinner>

<form fxLayout="column" [formGroup]="form" *ngIf="ready">
    <div *ngIf="showSource">
        <h2>Choose a {{dataSourcePlaceholder}}</h2>
        <mat-form-field color="accent">
            <mat-label>{{dataSourcePlaceholder}}</mat-label>
            <senergy-select-search [required]="true" [multiple]="true" [compareWith]="compare" formControlName="exports"
                (selectionChange)="dataSourceChanged($event.value)" [options]="dataSourceOptions"
                useOptionViewProperty="name">
            </senergy-select-search>
    
            <mat-error *ngIf="form.controls.exports.invalid">
                Please make a selection!
            </mat-error>
        </mat-form-field>
    </div>
   
    <mat-spinner *ngIf="waitingForDataSourceChange" [diameter]="50" [strokeWidth]="5" color="accent"></mat-spinner>

    <span *ngIf="!waitingForDataSourceChange">
        <span [hidden]="form.get('exports').value.length === 0" *ngIf="enableFieldSelection">
            <h2>Choose the exported fields</h2>
            <mat-form-field color="accent">
                <mat-label>Fields</mat-label>
                <senergy-select-search [required]="true" [multiple]="true" formControlName="fields"
                    [options]="fieldOptionsTMP" useOptionViewProperty="valueName" [compareWith]="compareFields">
                </senergy-select-search>
                <mat-error *ngIf="(form.get('fieldOptions')?.value || []).length ===  0">
                    Please make a selection!
                </mat-error>
            </mat-form-field>
        </span>


        <div *ngIf="showTimeRange">
            <h2>Choose a time range</h2>
            <div formGroupName="timeRange" class="one-line-form-container">
                <div>
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" placeholder="Time Range Type" required>
                            <mat-option *ngFor="let timeRange of timeRangeTypes" [value]="timeRange">
                                {{timeRange}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    *ngIf="form.get('timeRange').get('type').value === timeRangeEnum.RelativeAhead || form.get('timeRange').get('type').value === timeRangeEnum.Relative">
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Time</mat-label>
                        <input type="text" matInput placeholder="e.g. 15, 1" formControlName="time">
                    </mat-form-field>
                </div>
                <div
                    *ngIf="form.get('timeRange').get('type').value === timeRangeEnum.RelativeAhead || form.get('timeRange').get('type').value === timeRangeEnum.Relative">
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Interval</mat-label>
                        <mat-select formControlName="level" placeholder="Group Type">
                            <mat-option [value]="">none</mat-option>
                            <mat-option *ngFor="let level of levels" [value]="level.value">
                                {{level.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="form.get('timeRange').get('type').value === timeRangeEnum.Absolute">
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Start</mat-label>
                        <input type="datetime-local" matInput placeholder="Start" formControlName="start">
                    </mat-form-field>
                </div>
                <div *ngIf="form.get('timeRange').get('type').value === timeRangeEnum.Absolute">
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>End</mat-label>
                        <input type="datetime-local" matInput placeholder="Start" formControlName="end">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div *ngIf="enableAggretationConfig">
            <h2>Choose an aggregation</h2>
            <div formGroupName="group" class="one-line-form-container">
                <div>
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" placeholder="">
                            <mat-option [value]="">none</mat-option>
                            <mat-option *ngFor="let groupLevel of groupTypes" [value]="groupLevel.value">
                                {{groupLevel.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Time</mat-label>
                        <input type="text" matInput placeholder="e.g. 15, 1" formControlName="time">

                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field color="accent" class="full-width">
                        <mat-label>Interval</mat-label>
                        <mat-select formControlName="level" placeholder="">
                            <mat-option [value]="">none</mat-option>
                            <mat-option *ngFor="let level of levels" [value]="level.value">
                                {{level.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </span>

</form>