[
  "processIoUrl=${PROCESS_IO_URL}",
  "smartServiceRepoUrl=${SMART_SERVICE_REPO_URL}",
  "processRepoUrl=${PROCESS_REPO_URL}",
  "processDeploymentUrl=${PROCESS_DEPLOYMENT_URL}",
  "processServiceUrl=${PROCESS_SERVICE_URL}",
  "processIncidentApiUrl=${PROCESS_INCIDENT_API_URL}",
  "processSchedulerUrl=${PROCESS_SCHEDULER_URL}",
  "operatorRepoUrl=${OPERATOR_REPO_URL}",
  "pipelineRegistryUrl=${PIPELINE_REGISTRY_URL}",
  "influxAPIURL=${INFLUX_API_URL}",
  "timescaleAPIURL=${TIMESCALE_API_URL}",
  "exportService=${EXPORT_SERVICE}",
  "brokerExportServiceUrl=${BROKER_EXPORT_SERVICE_URL}",
  "brokerExportBroker=${BROKER_EXPORT_BROKER}",
  "flowRepoUrl=${FLOW_REPO_URL}",
  "flowEngineUrl=${FLOW_ENGINE_URL}",
  "flowParserUrl=${FLOW_PARSER_URL}",
  "permissionSearchUrl=${PERMISSION_SEARCH_URL}",
  "permissionCommandUrl=${PERMISSION_COMMAND_URL}",
  "apiAggregatorUrl=${API_AGGREGATOR_URL}",
  "deviceRepoUrl=${DEVICE_REPO_URL}",
  "deviceManagerUrl=${DEVICE_MANAGER_URL}",
  "dashboardServiceUrl=${DASHBOARD_SERVICE_URL}",
  "usersServiceUrl=${USERS_SERVICE_URL}",
  "ubaUrl=${UBA_URL}",
  "dwdOpenUrl=${DWD_OPEN_URL}",
  "geonamesUrl=${GEONAMES_URL}",
  "yrUrl=${YR_URL}",
  "notificationsUrl=${NOTIFICATION_SERVICE_URL}",
  "notificationsWebsocketUrl=${NOTIFICATION_SERVICE_WEBSOCKET_URL}",
  "deviceSelectionUrl=${DEVICE_SELECTION_URL}",
  "configurablesUrl=${CONFIGURABLES_URL}",
  "marshallerUrl=${MARSHALLER_URL}",
  "importRepoUrl=${IMPORT_REPO_URL}",
  "importDeployUrl=${IMPORT_DEPLOY_URL}",
  "equivalentProtocolSegments=${EQUIVALENT_PROTOCOL_SEGMENTS}",
  "timeStampCharacteristicId=${TIMESTAMP_CHARACTERISTIC_ID}",
  "timeStampCharacteristicUnixSecondsId=${TIMESTAMP_CHARACTERISTIC_UNIX_SECONDS_ID}",
  "timeStampCharacteristicUnixMilliSecondsId=${TIMESTAMP_CHARACTERISTIC_UNIX_MILLI_SECONDS_ID}",
  "timeStampCharacteristicUnixNanoSecondsId=${TIMESTAMP_CHARACTERISTIC_UNIX_NANO_SECONDS_ID}",
  "mqttProtocolID=${MQTT_PROTOCOL_ID}",
  "getPm1FunctionId=${GET_PM1_FUNCTION_ID}",
  "getPm10FunctionId=${GET_PM10_FUNCTION_ID}",
  "getPm25FunctionId=${GET_PM25_FUNCTION_ID}",
  "getHumidityFunctionId=${GET_HUMIDITY_FUNCTION_ID}",
  "getTemperatureFunctionId=${GET_TEMPERATURE_FUNCTION_ID}",
  "getPressureFunctionId=${GET_PRESSURE_FUNCTION_ID}",
  "getCo2FunctionId=${GET_C02_FUNCTION_ID}",
  "getTimestampFunctionId=${GET_TIMESTAMP_FUNCTION_ID}",
  "aspectAirId=${ASPECT_AIR_ID}",
  "importTypeIdUbaStation=${IMPORT_TYPE_ID_UBA_STATIONS}",
  "importTypeIdDwdPollen=${IMPORT_TYPE_ID_DWD_POLLEN}",
  "importTypeIdYrForecast=${IMPORT_TYPE_ID_YR_FORECAST}",
  "processFogDeploymentUrl=${PROCESS_FOG_DEPLOYMENT_URL}",
  "processSyncUrl=${PROCESS_SYNC_URL}",
  "iotRepoUrl=${IOT_REPO_URL}",
  "waitingRoomUrl=${WAITING_ROOM_URL}",
  "waitingRoomWsUrl=${WAITING_ROOM_WS_URL}",
  "exportDatabaseIdInternalInfluxDb=${EXPORT_DATABASE_ID_INTERNAL_INFLUX_DB}",
  "exportDatabaseIdInternalTimescaleDb=${EXPORT_DATABASE_ID_INTERNAL_TIMESCALE_DB}",
  "deviceCommandUrl=${DEVICE_COMMAND_URL}",
  "getTargetTemperatureFunctionId=${GET_TARGET_TEMPERATURE_FUNCTION_ID}",
  "getCleaningRequiredFunctionId=${GET_CLEANING_REQUIRED_FUNCTION_ID}",
  "getOnOffFunctionId=${GET_ON_OFF_FUNCTION_ID}",
  "setOnFunctionId=${SET_ON_FUNCTION_ID}",
  "setOffFunctionId=${SET_OFF_FUNCTION_ID}",
  "getAcModeFunctionId=${GET_AC_MODE_FUNCTION_ID}",
  "setAcModeFunctionId=${SET_AC_MODE_FUNCTION_ID}",
  "getLockedFunctionId=${GET_LOCKED_FUNCTION_ID}",
  "setUnlockedFunctionId=${SET_UNLOCKED_FUNCTION_ID}",
  "setLockedFunctionId=${SET_LOCKED_FUNCTION_ID}",
  "setTargetTemperatureFunctionId=${SET_TARGET_TEMPERATURE_FUNCTION_ID}",
  "getFanSpeedLevelFunctionId=${GET_FAN_SPEED_LEVEL_FUNCTION_ID}",
  "setFanSpeedLevelFunctionId=${SET_FAN_SPEED_LEVEL_FUNCTION_ID}",
  "getFanSpeedLevelAutomaticFunctionId=${GET_FAN_SPEED_LEVEL_AUTOMATIC_FUNCTION_ID}",
  "setFanSpeedLevelAutomaticFunctionId=${SET_FAN_SPEED_LEVEL_AUTOMATIC_FUNCTION_ID}",
  "getBatteryLevelFunctionId=${GET_BATTERY_LEVEL_FUNCTION_ID}"
]
